#root {
    text-align: center;
}

body {
    display: block;
}

.navbar {
    display: flex;
    background-color: cyan;
    justify-content: center;
}

.navbar button {
    background-color: transparent;
}

